<div>player1: {{this.playerName1}}
    player2: {{this.playerName2}}</div>
<fieldset [disabled] = this.lockBoard>
<div >
    <div [ngClass]="['board']">
        <button 
        [disabled]="isDisabled(0)"
        (click)="getBoard( 0, true)"
        [ngClass]="['red']">{{data[0]}}
    </button>
        <button
        [disabled]="isDisabled(1)"
        (click)="getBoard( 1, true)"
        [ngClass]="['red']">{{data[1]}}</button>
        <button 
        [disabled]="isDisabled(2)"
        (click)="getBoard( 2, true)"
        [ngClass]="['red']">{{data[2]}}</button>
    </div>
    <!-- <mat-spinner
    [ngClass]="['spinner']"
    ></mat-spinner> -->
    <div [ngClass]="['board']">
        <button
        [disabled]="isDisabled(3)" 
        (click)="getBoard( 3, true)"
        [ngClass]="['red']">{{data[3]}}</button>
        <button
        [disabled]="isDisabled(4)"
        (click)="getBoard( 4, true)"
        [ngClass]="['red']">{{data[4]}}</button>
        <button 
        [disabled]="isDisabled(5)"
        (click)="getBoard( 5, true)"
        [ngClass]="['red']">{{data[5]}}</button>
    </div>

    <div [ngClass]="['board']">
        <button
        [disabled]="isDisabled(6)"
        (click)="getBoard( 6, true)"
        [ngClass]="['red']">{{data[6]}}</button>
        <button
        [disabled]="isDisabled(7)"
        (click)="getBoard( 7, true)"
        [ngClass]="['red']">{{data[7]}}</button>
        <button
        [disabled]="isDisabled(8)"
        (click)="getBoard( 8, true)"
        [ngClass]="['red']">{{data[8]}}</button>
    </div>
</div>
</fieldset>
<div [ngClass]="['board']">
    <button
    [hidden] = 'this.hideStart'
    (click)="lobby('tandi')"
    [ngClass]="['red']">start</button>
</div>
<!-- here
<div>
    <button
    (click)="getBoard(0,false)"
    [ngClass]="['red']">{{data[7]}}</button>


    <button
    (click)="getBoard(1,false)"
    [ngClass]="['red']">{{data[7]}}</button>
</div> -->