.red {
    background-color: rgb(52, 162, 216);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    color:rgb(15, 14, 14);
  }

  .board {
    display: flex;
    justify-content: center;

  }

  .spinner {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }



  
  
  /* +++++++ STYLES +++++++ */
  .wrapper {
    height: calc(100vh - 20px);
    background: red;
  }
  .inner {
    background: green;
    color: white;
    padding: 12px;
  }